*.lock
.vs/*
Kinship/Kinship.Android/obj/*
Kinship/Kinship.Android/bin/*
Kinship/Kinship.iOS/obj/*
Kinship/Kinship.iOS/bin/*
Kinship/Kinship.UWP/obj/*
Kinship/Kinship.UWP/bin/*
Kinship/Kinship/obj/*
Kinship/Kinship/bin/*
.vs/Kinship/DesignTimeBuild/.dtbcache
.vs/Kinship/DesignTimeBuild/.dtbcache
.vs/Kinship/DesignTimeBuild/.dtbcache
.vs/Kinship/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
.vs/Kinship/v15/Server/sqlite3/storage.ide
.vs/Kinship/v15/Server/sqlite3/storage.ide
.vs/Kinship/v15/Server/sqlite3/storage.ide-shm
.vs/Kinship/v15/Server/sqlite3/storage.ide-wal
*.apk
